# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/

# PyInstaller
dist/
build/
*.spec
*.log

# Datos
data/cache/*
data/logs/*.log

# Assets temporales
assets/*.tmp

# Sistema
.DS_Store
Thumbs.db
